<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hole.hs.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="com.hole.hs.domain.Account">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="statusof" column="statusof" jdbcType="TINYINT"/>
            <result property="comments" column="comments" jdbcType="VARCHAR"/>
            <result property="accountName" column="account_name" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
            <result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
            <result property="loginLimit" column="login_limit" jdbcType="TINYINT"/>
            <result property="allowEndTime" column="allow_end_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
            <result property="forceModifyPassword" column="force_modify_password" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        create_user,update_user,deleted,
        statusof,comments,account_name,
        nick_name,user_account,user_password,
        avatar,company_id,login_limit,
        allow_end_time,user_id,is_default,
        force_modify_password
    </sql>
</mapper>
