<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hole.hs.mapper.DataAuthorityColumnMapper">

    <resultMap id="BaseResultMap" type="com.hole.hs.domain.DataAuthorityColumn">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="deleted" column="deleted" jdbcType="BIGINT"/>
            <result property="statusof" column="statusof" jdbcType="BIGINT"/>
            <result property="comments" column="comments" jdbcType="VARCHAR"/>
            <result property="tableId" column="table_id" jdbcType="BIGINT"/>
            <result property="columnName" column="column_name" jdbcType="VARCHAR"/>
            <result property="columnDesc" column="column_desc" jdbcType="VARCHAR"/>
            <result property="dataType" column="data_type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        create_user,update_user,deleted,
        statusof,comments,table_id,
        column_name,column_desc,data_type
    </sql>
</mapper>
